*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
#marcador-jugador,#marcador-computadora{
    font-size: 20px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    color: white;
    background-color: #333;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;
}

.casilla{
    position: relative;
    text-align: center;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 100px ;
}

.casilla:nth-child(1),
.casilla:nth-child(3),
.casilla:nth-child(7),
.casilla:nth-child(9){
    border: none;
}

.casilla:nth-child(2),
.casilla:nth-child(8){
    border-top: none;
    border-bottom: none;
}

.casilla:nth-child(4),
.casilla:nth-child(6){
    border-left: none;
    border-right: none;
}

.casilla:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 700px){
    .container{
        width: 95vw;
        height: 95vw;
    }    
}