*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.marcador{
    position: absolute;
    left: 3%;
    top: 10%;
}
.jugador{
    position: absolute;
    bottom: 8%;
    left: 50%;
}
.marcador, #marcador-computadora, #marcador-jugador,#cp,#hm{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.item{
    background-color: crimson;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    color: white;
    background-color: #333;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px
}

.casilla{
    position: relative; ;
    text-align: center;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 100px;
    min-height: 170px;
    min-width: 170px;
    max-height: 170px;
    max-width: 170px;


}

.casilla:nth-child(1),
.casilla:nth-child(3),
.casilla:nth-child(7),
.casilla:nth-child(9){
    border: none;
}

.casilla:nth-child(2),
.casilla:nth-child(8){
    border-top: none;
    border-bottom: none;
}

.casilla:nth-child(4),
.casilla:nth-child(6){
    border-left: none;
    border-right: none;
}

.casilla:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 700px){
    .container{
        width: 95vw;
        height: 95vw;
    }    
}